*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor:pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 4rem;
}
@media(max-width:440px){
    .choices{
        gap:1.5rem;
        margin-top: 2rem;
    }
    img{
        height: 100px;
        width: 100px;
    }
    .choice{
        height: 120px;
        width: 120px;
    }
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;
    margin-top: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.message-div{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color:white;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius:1rem;
}
@media(max-width:440px){
    #msg{
        font-size: 1.5rem;
    }
    .gameimg{
        height: 300px;
        background-image: url("image/game.jpeg");
        background-size: cover;
        margin-top: 4.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color:rgb(199, 48, 31);
    }
    a{
        text-decoration: none;
    }
}
@media(min-width:440px){
    h2{
        display:none;
    }

}
